.tab-list {
    display: flex;
    list-style-type: none;
    font-family: sans-serif;
    width: 100%;
    li {
      white-space: nowrap;
      background-color: var(--tabs-bg-color);
      color: var(--tabs-color);
      padding: 10px;
      padding-bottom: 30px;
      cursor: pointer;
      position: relative;
  
      &:hover {
        background-color: var(--tabs-hover);
      }
    }
  
    li.selected-tab {
      background-color: var(--tabs-bg-selected);
      color: var(--tabs-color-selected);
      border-radius: 4px;
  
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
      }
    }
  }
  