.tab-list {
    display: flex;
    list-style-type: none;
    font-family: sans-serif;
    width: 100%;
    ::-webkit-scrollbar {
        width: 5px!important;
    }
    ::-webkit-scrollbar-track {
        background-color: lightgray;
    }
    ::-webkit-scrollbar-thumb {
        background-color: gray;
    }

    li {
        white-space: nowrap;
      padding: 10px;
      padding-bottom: 30px;
      cursor: pointer;
      position: relative;
  
      &:hover {
        background-color: #f1f1f1;
      }
    }
  
    li.selected-tab {
      background-color: #3498db;
      color: #fff;
      border-radius: 4px;
  
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
      }
    }
  }
  