.text-fields-wrapper {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-top: 100px;
    & > * {
        width: 100%;
    }
}

.translate-button {
    display: block!important;
    margin: 50px auto!important;
}