/* Saved.scss */

.container.saved__container {
    background-color: var(--tabs-bg-color); /* Set your desired background color for the container */
    padding: 20px; /* Add padding for spacing */
    border-radius: 8px; /* Add rounded corners for a softer look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    margin-top: 20px; /* Add margin for spacing between the title and the list */
  }
  
  .saved__container h1 {
    color: var(--nav-text-color); /* Set the title color */
    text-align: center;
  }
  
  .saved-list {
    list-style-type: none;
    padding: 0;
  
    li {
      background-color: #ecf0f1; /* Set the background color for list items */
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 4px; /* Add rounded corners for a cleaner look */
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      &:hover {
        background-color: #d6dbdf; /* Set the background color for hover effect */
      }
    }
  }
  