[theme='light'] {
    --text-color: #000000;
    --bg-color: white;
    --text-area-bg: white;
    --tabs-bg-color: #ecf0f1;
    --tabs-bg-selected: #3498db;
    --tabs-color: #333;
    --tabs-color-selected: #fff;
    --tabs-hover: #d6dbdf;
    --nav-text-color: #3498db;
}

[theme='dark'] {
    --text-color: white;
    --bg-color: rgb(23, 25, 53);
    --text-area-bg: rgb(18, 21, 58);
    --tabs-bg-color: #2c3e50;
    --tabs-bg-selected: #3498db;
    --tabs-color: #ecf0f1;
    --tabs-color-selected: #fff;
    --tabs-hover: #1b2836;
    --nav-text-color: #3498db;
}
[theme='contrast'] {
    --text-color: #fff;
    --bg-color: #e74c3c;
    --text-area-bg: #f13d29;
    --tabs-bg-color: #e74c3c;
    --tabs-bg-selected: #3498db;
    --tabs-color: #fff;
    --tabs-color-selected: #fff;
    --tabs-hover: #c0392b;
    --nav-text-color: white;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.text-fields-wrapper {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    & > * {
        width: 100%;
    }
}

.translate-button {
    display: block!important;
    margin: 50px auto!important;
}

.copy-button {
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    transition: 1s transform, .5s opacity;
    span {
        display: inline-block;
    }
    &:hover {
        fill: gray;
    }
    &.copy-opacity {
        opacity: 0;
    }
    &.copy {
        transform: scale(3);
    }
}

.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    .saved-icon {
        width: 30px;
        color: red;
        cursor: pointer;
    }
    .saved-icon.filled {
        fill: red;
    }
    .saved-icon.clicked {
        animation: 0.3s save;  
    }
}

@keyframes save {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}