::-webkit-scrollbar {
    width: 10px!important;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: lightblue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(84, 84, 244);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.header__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}