body * {
    ::-webkit-scrollbar {
        width: 5px!important;
    }
}

::-webkit-scrollbar {
    width: 10px!important;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: lightblue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(84, 84, 244);
}